.center{
    margin: 0 auto;
}

.form-background{
    padding-top: 50px;
    background: #84b7cf;
    border-radius: 25px;
}

.group-padding{
    padding: 10px 15px;
}

.loc{
    display: none;
}

.dlt{
    border: 1px solid red;
    border-radius: 15%;
    background: firebrick;
    color:black;
    margin-left: 20px;
    padding: 2px 5px;
}

ul{
    padding-top: 30px;
    list-style: none;
}

